.site-container {
    padding: 1rem 2.5rem;
}

.breadcrumb {
    white-space: nowrap;
  }
  .breadcrumb a {
    align-items: center;
    color: hsl(229, 53%, 53%);
    display: flex;
    justify-content: center;
    padding: 0 0.75em;
  }
  .breadcrumb a:hover {
    color: hsl(0, 0%, 21%);
  }
  .breadcrumb li {
    align-items: center;
    display: flex;
  }
  .breadcrumb li:first-child a {
    padding-left: 0;
  }
  .breadcrumb li.is-active a {
    color: hsl(0, 0%, 21%);
    cursor: default;
    pointer-events: none;
  }
  .breadcrumb li + li::before {
    color: hsl(0, 0%, 71%);
    content: "/";
  }
  .breadcrumb ul,
  .breadcrumb ol {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .breadcrumb .icon:first-child {
    margin-right: 0.5em;
  }
  .breadcrumb .icon:last-child {
    margin-left: 0.5em;
  }
  .breadcrumb.is-centered ol,
  .breadcrumb.is-centered ul {
    justify-content: center;
  }
  .breadcrumb.is-right ol,
  .breadcrumb.is-right ul {
    justify-content: flex-end;
  }
  .breadcrumb.is-small {
    font-size: 0.75rem;
  }
  .breadcrumb.is-medium {
    font-size: 1.25rem;
  }
  .breadcrumb.is-large {
    font-size: 1.5rem;
  }
  .breadcrumb.has-arrow-separator li + li::before {
    content: "→";
  }
  .breadcrumb.has-bullet-separator li + li::before {
    content: "•";
  }
  .breadcrumb.has-dot-separator li + li::before {
    content: "·";
  }
  .breadcrumb.has-succeeds-separator li + li::before {
    content: "≻";
  }

figure {
    display: block;
}
.highlight {
    background-color: rgb(31, 35, 48);
    border-radius: 6px;
    color: rgb(217 224, 232);
    font-size: 1em;
    position: relative;
}

code {
    font-family: monospace;
}

pre code {
    background-color: transparent;
    color: rgb(217 224, 232);
    font-size: 1em;
    padding: 0;
}

.highlight pre {
    background-color: transparent;
    color: rgb(217 224, 232);
    font-size: 1em;
    line-height: 1.375;
    margin: 0 !important;
    white-space: pre;
    word-break: break-word;
}

.highlight .c1 {
    color: rgb(128, 129, 130);
}

.highlight .d1 {
    color: white;
}

.highlight .mf, 
.highlight .mh, 
.highlight .mi, 
.highlight .mo {
    color: rgb(55, 231, 172);
}

.highlight .nb {
    color: rgb(255, 153, 122);
}

.highlight .nc {
    color: rgb(100, 250, 15);
}

.highlight .nx {
    color: rgb(255, 107, 157);
}

.highlight .kd {
    color: rgb(0, 178, 255);
}

.highlight .o {
    color: rgb(81, 251, 222);
}

.highlight .p {
    color: #d7d9e4;
}

.highlight .s1,
.highlight .ss {
    color: rgb(55, 231, 172);
}